<div class="home">
   <!-- <div class="carousel wrap">
       <nz-carousel nzAutoPlay nzEffect="fade">
            <div class="carousel-item" nz-carousel-content *ngFor="let item of banners">
                <a [href]="item.url" target="_blank"  class="banner-item">
                    <img [src]="item.imageUrl" >
                </a>
            </div>
       </nz-carousel>
   </div>   -->

   <div *ngFor="let item of titles">
        <div>
           {{item}} 
        </div>
   </div>
   <div>
       <h1>home界面</h1>
   </div>
</div>
